*_sysconfig
logs/*
hosts.backup/*
*.log
*.rpm
client.yml
config_local.yml
production.yml
development.yml
testing
RPMS
start_packager.sh
stop_packager.sh
*.spec
start.sh
st*_pcg.sh
packaging
pcg.pl
records.sqlite
